<% provide(:title, 'ログイン') %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Twitterでログイン</h3>
    <%= link_to 'Twitterでログイン', '/auth/twitter', class: 'btn btn-default' %>
    <h3>メールアドレスとパスワードでログイン</h3>
    <%= form_for @form, url: :session do |f| %>
      <%= render 'shared/login_form', f: f %>
      <div class="checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, '次回から自動でログインする' %>
      </div>
      <%= f.submit 'ログイン', class: "btn btn-default" %>
    <% end %>
    <p><%= link_to 'パスワードを忘れた場合', :new_password_reset  %></p>
    <p><%= link_to 'まだ登録していない場合', :signup %></p>
  </div>
</div>
