<%
@title = case params[:action]
  when 'index'; 'フィード'
  when 'picked'; '編集者の投稿'
  else; raise
end
%>

<% unless params[:action] == 'index' %>
  <% provide(:title, @title) %>
<% end %>

<div class="col-lg-12">
  <h1 class="page-header">
    <% if params[:search] %>
      検索ワード：<%= params[:search][:title] %>
    <% elsif params[:tag] %>
      タグ：<%= params[:tag] %>
    <% else %>
      <%= @title %>
    <% end %>
  </h1>
</div>

<% @feed_items.each do |feed_item| %>
  <%= render partial: 'shared/post_item', locals: { item: feed_item } %>
<% end %>
<%= paginate @feed_items %>
<%= render 'shared/tag_cloud' %>
