<%
@title = case params[:action]
  when 'index'; 'コメント一覧'
  when 'discarded'; 'ゴミ箱'
  else; raise
end
%>

<% provide(:title, @title) %>
<h1><%= @title %></h1>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>種類</th>
          <th>作成者</th>
          <th>コメント</th>
          <th>コメント先</th>
          <th>作成日時</th>
          <th>アクション</th>
        </tr>
      </thead>
      <tbody>
      <% @comments.each do |m| %>
        <% p = CommentPresenter.new(m, self) %>
        <tr>
          <td><%= p.type %></td>
          <td><%= p.sender %></td>
          <td><%= p.truncated_content %></td>
          <td><%= p.commented_post %></td>
          <td><%= p.created_at %></td>
          <td>
            <% if m.discarded %>
              <%= link_to '復元', recover_comment_path(m), method: :patch %> |
              <%= link_to '削除', comment_path(m), method: :delete %>
            <% else %>
              <%= link_to '返信', '#' %> |
              <%= link_to 'ゴミ箱', trash_comment_path(m), method: :patch %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @comments %>
  </div>
</div>
