<% provide(:title, '許可IPアドレス一覧') %>
<h1>許可IPアドレス一覧</h1>

<%= render 'new_allowed_source' %>
<%= form_for :form, url: :delete_admin_allowed_sources,
  method: :delete do |f| %>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>削除</th>
      <th>IPアドレス</th>
      <th>作成日時</th>
    </tr>
  </thead>
    <% @allowed_sources.each_with_index do |s, index| %>
      <%= f.fields_for :allowed_sources, s, index: index do |ff| %>
        <%= ff.hidden_field :id %>
        <tbody>
          <tr>
            <td><%= ff.check_box :_destroy %></td>
            <td><%= ip_address(s) %></td>
            <td><%= ip_address_created_at(s) %></td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <%= f.submit 'チェックしたIPアドレスを削除',
    data: { confirm: '本当に削除しますか。' },
    class: 'btn btn-primary' %>
<% end %>
