<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <%= link_to "webllis", root_path, id: "logo" %>
    <ul class="nav navbar-nav navbar-right">
    <% if logged_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <span class="caret"></span></a>
        <ul class="dropdown-menu" roll="nemu">
          <li><%= link_to 'マイページ', current_user %></li>
          <li><%= link_to 'プロフィール設定', [ :edit, current_user ] %></li>
          <li><%= link_to 'パスワード設定', [ :edit_password ] %></li>
          <li class="divider"></li>
          <li><%= link_to 'ログアウト', :session, method: :delete %></li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to 'ユーザ登録', :signup %></li>
      <li><%= link_to 'ログイン', :login %></li>
    <% end %>
    </ul>
  </div>
</header>
