<div class="row">
  <div class="col-lg-7 col-md-7">
    <%= link_to post_image(post), post %>
  </div>
  <div class="col-lg-5 col-md-5">
    <h3><%= link_to post.title, post %></h3>
    <p><%= trancated_description(post) %><%= link_to '続きを読む', post %></p>
    <span><%= post.created_at.strftime('%Y/%m/%d') %></span>
    <span><%= tags_for_post(post) %></span>
    <span class="pull-right">
    <% if params[:action] == 'posted' %>
      <%= link_to '詳細', post %>
      <%= link_to '編集', [ :edit, post ] %>
      <%= link_to '削除', post, method: :delete,
        data: { confirm: '本当に削除しますか？' } %>
    <% else %>
      <%= link_to_creator(post.user) %>
    <% end %>
    </span>
  </div>
</div>
<hr>
