<%
@title = case params[:action]
  when 'index'; 'フィード'
  when 'posted'; '自分の投稿一覧'
  when 'favorite'; 'お気に入りの投稿一覧'
  when 'picked'; '編集者の投稿一覧'
  else; raise
end
%>

<% provide(:title, @title) unless params[:action] == 'index' %>

<div class="col-lg-12">
  <h1 class="page-header">
    <% if params[:search].present? %>
      検索ワード：<%= params[:search][:title] %>
    <% elsif params[:tag].present? %>
      タグ：<%= params[:tag] %>
    <% else %>
      <%= @title %>
    <% end %>
  </h1>
</div>

<%= render @posts %>
<%= paginate @posts %>
<%= render 'shared/tag_cloud' %>
