<%= provide(:title, '投稿の詳細') %>
<div class="col-lg-12">
  <h1 class="page-header">投稿の詳細</h1>
</div>

<div class="row">
  <div class="col-lg-7 col-md-7">
    <%  if @post.image? %>
      <%= link_to image_tag(@post.image.url, alt: 'post', class: 'img-responsive'), @post.url, target: '_blank' %>
    <% else %>
      <%= link_to image_tag('no_thumbnail.gif', alt: 'post', class: 'img-responsive'), @post.url, target: '_blank' %>
    <% end %>
  </div>
  <div class="col-lg-5 col-md-5">
    <h3><%= link_to @post.title, @post.url, target: '_blank' %></h4>
    <p><%= @post.description %></p>
    <dl>
      <dt>日付：</dt>
      <dd><%= @post.created_at.strftime('%Y/%m/%d') %></dd>
      <dt>タグ：</dt>
      <dd><%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></dd>
      <dt>投稿者：</dt>
      </dd><%= link_to image_tag(@post.user.icon_image, alt: 'icon', class: 'icon-tiny'), @post.user %>
        <%= link_to @post.user.name, @post.user %></dd>
    </dl>

    <%= render 'posts/favorite_form' if current_user %>
  </div>
</div>

<% if current_user %>
  <div class="row">
    <div class="col-lg-12">
      <h3>コメント <span class="badge">
        <%= @post.comments.count %></span></h3>
      <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <%= render partial: 'comments/comment', locals: { comment: comment }  %>
        <% end %>
        <%= paginate @comments %>
      <% end %>
      <%= form_for [ @post, @comment ], url: [ :confirm_post_comments, post_id: @post ] do |f| %>
        <%= render 'comments/form', f: f %>
        <%= f.submit 'コメントする', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>
